{% extends 'base.html' %}
{% block content %}
	<h4>Students list</h4>
    <a href="{% url 'first_app:home' %}">Home page</a>
    <p></p>
    {# students form views.py context_object_name= #}
    <ul>
        {% for student in students %}
            <li>
                {{ student.name }}
                [<a href="/first_app/student_detail/{{ student.id }}">Detail</a>]
                [<a href="/first_app/student_update/{{ student.id }}" class="text-success">Update</a>]
                [<a href="/first_app/student_delete/{{ student.id }}" class="text-danger" onclick="confirm('are you sure?')">Delete</a>]

            </li>
        {% endfor %}
    </ul>
{% endblock %}